html.devlist h2, html.issue h2, html.scm h2, html.url h2, html.archive h2 {
    background-color: rgba(150,150,150,0.2);
}

html.devlist body {
    background:url('../img/devlist_web.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

html.issue body {
    background:url('../img/issue.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

html.scm body {
    background:url('../img/scm.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

html.url body {
    background:url('../img/url.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

html.archive body {
    background:url('../img/archive.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
