* {
    margin: 0px;
    padding: 0px;
}

html {
	overflow-y: scroll;
}

body {
    background: url("dot.png") repeat scroll 0 0 transparent;
    color: #333333;
	font-family: 'Play', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.bottom {
    width: 144px;
    height: 40px;
	margin: 10px auto 0px;
}

.menu {
    float: left;
    width: 200px;    
    position: fixed;
    top: 30px;
    left: 5px;
    text-align: left;
}

.menu ul {
    list-style-type: none;
    margin-left: 2px;
}

.menu ul li {
    float: left;
    clear: left;
    width: 190px;
}

.menu a {
    color: #333333;
    width: 190px;
    display: inline-block;
    text-decoration: none;
}

.menu a:hover {
    color: #F37421;
    text-decoration: none;
    background-color: #FFFFFF;
}

.menu a:focus {
	outline: 0;
}

.menu_js {
	display: none;
	font-family: 'Play', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
}

.menu_js ul {
    list-style-type: none;
    margin-left: 30px;
}

.menu_js ul li {
    float: left;
    text-align: left;
    margin-right: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.menu_js a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}


.menu_js a:hover {
	color: #FFFFFF;
	background-color: #F37421;
    text-decoration: none;    
}

.menu_js a:focus {
	outline: 0;
}

#selected, #selected a {
	color: #FFFFFF;
	background-color: #F37421;
	border: none;
}

.wrapper {
    background: url("bk_main_wrapper.png") repeat scroll 0 0 transparent;
	margin: 30px auto 0px;
    width: 980px;
    overflow: hidden;
}

.hresume {
    background-color: #FDFDFD;
	margin: 10px;
    text-align: justify;
    border: none;
}

.hresume a {
    color: #F37421;
    text-decoration: none;
}

.hresume a:hover {
    text-decoration: underline;
}

.org a {
	color: #333333;
}

.nameAndTitle {
    width: 300px;
    float: left;
}

.contact {
	height: 80px;
    padding: 30px 30px 0px 30px;
}

#summary {
	padding: 30px 30px 10px 30px;
}

.contact, #summary {
	background-color: #FAFAFA;
}

.contactData {
    float: right;
    width: 300px;
    text-align: right;
}

.contactData ul {
    list-style-type: none;
}

.container {
    clear: both;
    padding: 15px 30px 30px 30px;  
}

.container ul {
    margin-left: 30px;   
	list-style-type: disc;
}

.container h3 {
    margin-bottom: 10px;
}

.container ol {
    margin-left: 30px;
}

.container ol li {
    margin-bottom: 20px;
}

dl {
    margin: 5px 0px 5px 10px;
}

dd {
    margin-left: 30px;
}

img {
    border: none;
}

abbr {
	color: #555555;
	font-size: 11px;
}

.modules ul li {
	margin-bottom: 0px;
}

.organization-details {
	font-size: 11px;
	color: #555555;
}

a.email {
       direction:rtl;
       unicode-bidi:bidi-override;
}

.print {
	position: absolute;
	right: 10px;
}
