@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    align-items:center;
    display:flex;
}

.card-link {
    color: inherit;
    opacity: 0.45;
    text-decoration: none;
}

.card-link:hover {
    opacity: 1;
}

i {
    vertical-align: bottom;
}

a, a:hover {
    text-decoration: underline dotted;
    border-bottom: 0;
    color: black;
}

.email {
       direction:rtl;
       unicode-bidi:bidi-override;
}

h3 {
    margin-top: 2rem;
}

@media (min-width: 768px) and (min-height: 768px) { 
    html, body {
        background-image: url('../assets/desk-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: grey;
        background-blend-mode: screen;
    }

    .contact {
        color: grey;
        mix-blend-mode: difference;
    }

    .contact a, .contact a:hover {
        color: grey;
    }

    .head {
        color: white;
        mix-blend-mode: difference;
    }

    .head a, .head a:hover {
        color: white;
    }
}
